*.pyc
*.pyo
lib/debug_toolbar/
templates/debug_toolbar/
config/local.py

#*#
*~
.idea/*
static/
frontend/node_modules/
frontend/bower_components/
*.orig
media/profile_pic/*.*
!media/profile_pic/no-img.png
.env
assets
expirednumberlist.csv
kpack
ondemand_expired_channels_list.csv
/atlassian-ide-plugin.xml
